<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" src="js/test.js"></script>

<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Hello:</h1>
<h3><script>
    b(1,2);
    p.walk();

    each([1,2,3,4],function (index,ele) {
        document.writeln("第"+index+"个元素是："+ele);
    });
    document.writeln("\n");

    showArray([9,8,7],function (index,ele) {
        document.writeln("第"+index+"个元素是："+ele);
    });

    new Person("meng",24).show()
</script></h3>

<h2><span th:text="${hello}"></span></h2>
<h2><span th:text="${hello2}"></span></h2>

<image th:src="@{images/flower.jpg}"/>
<!--<img th:src="@{/myResource/timg.jpg}"/>-->

</body>
</html>